.grid-container {
  width:200px;
  height:280px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows:  20px 60px repeat(5, 1fr);/* 각 행의 높이를 조정할 수 있습니다 */
  border-radius: 5px;
}
.grid-item {
  border : 1px 1px 0px 1px black solid;
  
  text-align: center;
  margin:auto;
}

.grid-item.topRow {
  grid-column: 1 / 5;
  width:100%;
  height:100%;
  border-radius: 5px 5px 0px 0px;
  text-align: left;
  padding-left : 10px;
  box-sizing: border-box;
}

.grid-item.resultRow {
  grid-column: 1 / 5;
  width:100%;
  height:100%;
  display: flex;
  justify-content: right; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  padding-right: 10px;
  box-sizing: border-box;
  color : #DFDFD9;
}
.grid-item.button {
  width:100%;
  height:100%;
  display: flex;
  justify-content: center; /* 가로 중앙 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  border : 0.5px  #B0B0B0 solid ; 
  box-sizing: border-box;
  
}

.grid-item.fill-row-2 {
  grid-column: 1 / 3;
}
.circle {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%; /* 원 모양으로 만들기 */
  margin-right : 5px;
}
